//Pin.js
.st0{
    fill:#EF7C58;
}
.st0_1{
    fill:#6b528f;
}
.st0_2{
    fill:#a4bc41;
}
.st0_3{
    fill:#61626d;
}
.st0_4{
    fill:#34abc6;
}
.st0_5{
    fill:#e26f4a;
}
.st1{
    fill:#FFFFFF;
}
.st2{
    fill:#DD476D;
}
.st3{
    clip-path:url(#SVGID_2_);
}
.st4{
    fill:none;
    stroke:#DD476D;
    stroke-width:0.5;
    stroke-miterlimit:10;
}
.st5{
    fill:#FFFFFF;
    stroke:#FFFFFF;
    stroke-miterlimit:10;
}
.st6{
    fill:#DD476D;
    stroke:#FFFFFF;
    stroke-width:0.5;
    stroke-miterlimit:10;
}
.st7{
    clip-path:url(#SVGID_4_);
}
.st8{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:0.5;
    stroke-miterlimit:10;
}
.st9{
    fill:none;
}
.st11{
    fill:none;
    stroke:#DD476D;
    stroke-miterlimit:10;
}
.st12{
    fill:#FFFFFF;
    stroke:#DD476D;
    stroke-miterlimit:10;
}
.st13{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.st14{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:0.25;
    stroke-miterlimit:10;
}
.st15{
    clip-path:url(#SVGID_4_);
    fill:none;
    stroke:#DD476D;
    stroke-miterlimit:10;
}
.st16{
    clip-path:url(#SVGID_6_);
    fill:#FFFFFF;
}
.st17{
    enable-background:new ;
}
.st18{
    clip-path:url(#SVGID_4_);
}







