
.poi-create{
    max-height: 90vh;
    position: relative;
    z-index: 4;
    margin-top: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 3vh;
}

@mixin stars-position{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conditionRating{
    @include stars-position;
}
.operationRating{
    @include stars-position;
}
.accessibilityRating{
    @include stars-position;
}
.star1{
    width: 7%;
    height: 7%;
}
.star2{
    width: 8%;
    height: 8%;
}
.star3{
    width: 9%;
    height: 9%;
}
.star4{
    width: 10%;
    height: 10%;
}
.star5{
    width: 11%;
    height: 11%;
}

label{
    margin: 3px;
    width: 80%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

select{
    margin-left: 3px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 90%;
    border-radius: 2.5vh;
    border-color: #DD476D;
    background-color: white;
    outline: none;
}

legend{
    text-align: center;
    padding-top: 20px;
}
.poi-address{
    text-align: center;
    margin-top: 20px;
}
.poi-address span{
    color: black;
}
.poi-name > input {
    margin-left: 3px;
    margin-bottom: 2.5vh;
    width: 89%;
    border-radius: 2.5vh;
    outline: none;
}
.submit-button{
    display: flex;
    justify-content: center;
    
}
.submit-button > input{
    width: 30%;
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border-radius: 10px;
    background-color:#DD476D;
    border: none;
    padding: 3px;
  }

  .poi-pic > input{
    margin-left: 3px;
    margin-top: 2.5vh;
    background-color: none;
    outline: none;
  }
  
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 75vh;
    width: 89.5vw;
    margin: 0px 0px 0 9px;
    display: flex;
    flex-direction: column;
  }

  .buttonForm{
    border: 1px solid #D12F5B;
    color: #D12F5B;
    background: white;
    border-radius: 8px;
    width: 56vw;
    position: absolute;
    bottom: 4vh;
    left: 15vw;
    font-size: 1.35rem;
  }

  .buttonFormNext{
    border: 1px solid #D12F5B;
    color: white;
    background: #D12F5B;
    border-radius: 8px;
    width: 56vw;
    position: absolute;
    top: 61vh;
    left: 15vw;
    font-size: 1.35rem;
  }
