
.poi-create{
    max-height: 90vh;
    position: relative;
    z-index: 4;
    margin-top: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 3vh;
}
.gradeContainer{
  margin-left: 1vw;
  display: flex;
  justify-content: flex-end;
}
@mixin stars-position{
    display: inline-flex;
    justify-content: space-around;
}

.conditionRating{
    @include stars-position;
}
.operationRating{
    @include stars-position;
}
.accessibilityRating{
    @include stars-position;
    width: 54vw;
}
.star1{
    width: 7%;
    height: 7%;
    outline: none;
}
.star2{
    width: 8%;
    height: 8%;
    outline: none;
}
.star3{
    width: 9%;
    height: 9%;
    outline: none;
}
.star4{
    width: 10%;
    height: 10%;
    outline: none;
}
.star5{
    width: 11%;
    height: 11%;
    outline: none;
}

label{
    margin: 3px;
    width: 80%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
.gradeContainer {
  margin-left: 1rem;
}
select{
    margin-left: 3px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 90%;
    border-radius: 2.5vh;
    border-color: #DD476D;
    background-color: white;
    outline: none;
}
.picturePage{
    display: grid;
    grid-template-columns: 34px 1fr;
    grid-template-rows: 100px 36px 100px;
    grid-gap: 5vh;
}
.UploadPictureButton{
    place-self: center;
    margin-top: -3vh;
    border-radius: 1vh;
    background-color: #D12F5B;
    color: white;
}
legend{
    text-align: center;
    padding-top: 20px;
}
.poi-address{
    text-align: center;
    margin-top: 20px;
}
.poi-address span{
    color: black;
}

.textPage{
    margin-top: -5vh;
    text-align: center;
    color: grey;
    grid-column: 1/4;
    padding-left: 1rem;
    padding-right: 1rem;
}

.textPageGrade{
  margin-top: 3vh;
  text-align: center;
  color: grey;
  grid-column: 1/4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.categoryContainer > input {
    grid-column: 1/4;
    margin-left: 3px;
    margin-bottom: 2.5vh;
    width: 89%;
    height: 6vh;
    outline: none;
    border: none;
    border-bottom: 2px solid #DD476D;
    grid-column: 1/4;
}
.submit-button{
    display: flex;
    justify-content: center;
    
}
.submit-button > input{
    width: 30%;
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border-radius: 10px;
    background-color:#DD476D;
    border: none;
    padding: 3px;
  }

  .poi-pic > input{
    margin-left: 3px;
    margin-top: 2.5vh;
    background-color: none;
    outline: none;
  }
  .submitButton{
    border: 1px solid #D12F5B;
    color: white;
    background: #D12F5B;
    border-radius: 4px;
    margin-top: 7vh;
    margin-left: 5rem;
    height: 4vh;
  }
  .buttonForm{
    border: 1px solid #D12F5B;
    color: #D12F5B;
    background: white;
    border-radius: 8px;
  }

  .buttonFormNext{
    border: 1px solid #D12F5B;
    color: white;
    background: #D12F5B;
    border-radius: 8px;
    width: 56vw;
    position: absolute;
    top: 61vh;
    left: 15vw;
    font-size: 1.35rem;
  }
.step{
    color: #D12F5B;
    text-align: center;
    margin-top: -1vh;
}
.pictureStep{
    color: #D12F5B;
    text-align: center; 
    margin-right: 42px;
}
  .pictureUploadWrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    display: grid;
    width: 50vw;
    justify-self: center;
  }

  .pictureUploadWrapper img{
      width: 30vh;
      height: 30vh;
      object-fit: scale-down;
  }

  .pictureUploadWrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .categoryContainer{
    text-align: center;
    color: grey;
    display: grid;
    justify-items: center;
    height: 49vh;
    align-items: center;
}

// Media-queries for each devices
//Galaxy S5
@media screen and (width: 360px) and (height:640px){  
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 76vh;
    width: 90.5vw;
    margin: -8px 0px 0 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
}
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -2vh 1.8vw 0vh 2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}
//Pixel 2
@media screen and (width: 411px) and (height: 731px){  
.formContainer{
  background-color: white;
  position: absolute;
  z-index: 10;
  height: 76vh;
  width: 91.5vw;
  margin: -8px 0px 0 8px;
  display: flex;
  flex-direction: column;
}
.placePoiContainer{
  position: absolute;
  background-color: white;
  color: grey;
  margin: -2vh 1.8vw 0vh 2.2vw;
  height: 18vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0rem 0rem 1rem 1rem;
}
}
//Pixel 2 XL
@media screen and (width: 411px) and (height: 823px){  
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 76.5vh;
    width: 91.8vw;
    margin: -16px 0px 0 7px;
    display: flex;
    flex-direction: column;
  }
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -2vh 1.8vw 0vh 2.2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}
//iphone 6/7/8 
@media screen and (width: 375px) and (height: 667px){  
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 76vh;
    width: 91.2vw;
    margin: -8px 0px 0 7px;
    display: flex;
    flex-direction: column;
  }
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -2vh 1.5vw 0vh 2.2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}
//iphone 5/SE
@media screen and (width: 320px) and (height: 568px){
  .placePoiContainer{
    position: absolute;
    z-index: 10;
    height: 75vh;
    width: 94.2vw;
    margin: 0px 0px 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -2vh 1.5vw 0vh 2.2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}
//iphone 6/7/8 Plus
@media screen and (width: 414px) and (height: 736px){
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -2vh 1.5vw 0vh 2.2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
    width: 91.4vw;
  }
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 76vh;
    width: 91.6vw;
    margin: -9px 0px 0 8px;
    display: flex;
    flex-direction: column;
  }
}
//iphone 5/SE 
@media screen and (width: 320px) and (height: 568px){  
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 76vh;
    width: 90.2vw;
    margin: -7px 0px 0 6px;
    display: flex;
    flex-direction: column;
  }
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -2vh 1.5vw 0vh 2.2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
    width: 90vw;
  }
}
//iphone X 
@media screen and (width: 375px) and (height: 812px){  
  .formContainer{
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 77vh;
    width: 91.2vw;
    margin: -21px 0px 0 7px;
    display: flex;
    flex-direction: column;
  }
  .placePoiContainer{
    position: absolute;
    background-color: white;
    color: grey;
    margin: -3vh 1.5vw 0vh 2.2vw;
    height: 18vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}
