.footer-box{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
    height: 8vh;    
}

.filter-logo{
    width: 30%;
    position: relative;
    z-index: 4;
    height : 7vh;
    float: left;
    margin-top: 0.4vh;
}

.add-logo {
    height: 7vh;
    width: 16%;
    position: relative;
    z-index: 4;
    margin-left: 5.9vh;
}

.profile-logo{
    width: 30%;
    position: relative;
    float: none;
    z-index: 4;
    float: right;
    height : 8vh;
}
