.footer-box{
    width: 100%;
    position: absolute;
    z-index: 4;
    height: 8vh;    
    margin-top: 84vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    .footer-bar{
        grid-area: 1 / col1-start / row1-end / 1;
    }
    .footer-box-button{
        grid-area: 1 / col1-start / row1-end / 1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        .filter-logo{
            position: relative;
            z-index: 4;
            height : 7vh;
            grid-column: 1/3;
            grid-row: 1/1;
            justify-self: center;
            margin-top: 11%;
        }
        .add-logo {
            width: 30%;
            position: relative;
            z-index: 4;
            grid-column: 3/6;
            grid-row: 1/1;
            bottom: 8%;
            margin-left: 0.5%;
        }
        .profile-logo{
            position: relative;
            z-index: 4;
            height : 8vh;
            grid-column: 4/6;
            grid-row: 1/1;
            justify-self: center;
            margin-top: 10%;
        }
        
    }
}
