.footer-box{
    justify-content: space-between;
    width: 90%;
    position: absolute;
    z-index: 4;
    height: 8vh;    
    border-radius: 1vh 1vh 3vh 3vh;
    border: solid 0.4px;
    box-shadow: 2px 5px 8px #2F2F2F;
    background-color: white;
    margin-left: 2.5vh;
    margin-top: 87.5vh;
}

.filter-logo{
    width: 30%;
    position: relative;
    z-index: 4;
    height : 7vh;
    float: left;
    margin-top: 0.4vh;
}

.add-logo {
    height: 7vh;
    width: 16%;
    position: relative;
    z-index: 4;
    margin-left: 5.9vh;
}

.profile-logo{
    width: 30%;
    position: relative;
    float: none;
    z-index: 4;
    float: right;
    height : 8vh;
}
