
.st0{fill:#EF7C58;}
.st0_1{fill:rgb(30, 255, 0);}
.st0_2{fill:rgb(255, 0, 128);}
.st0_3{fill:rgb(0, 162, 255);}
.st0_4{fill:rgb(233, 39, 39);}
.st0_5{fill:rgb(0, 255, 221);}
.st1{fill:#FFFFFF;}
.st2{fill:#DD476D;}
.st3{clip-path:url(#SVGID_2_);}
.st4{fill:none;stroke:#DD476D;stroke-width:0.5;stroke-miterlimit:10;}
.st5{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
.st6{fill:#DD476D;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.st7{clip-path:url(#SVGID_4_);}
.st8{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
