.informationPage {
    position: absolute;
    z-index: 2;
    top: 75vh;
    background-color: white;
    width: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
};
.informationPage:hover {
    position: absolute;
    z-index: 2;
    top: 0vh;
    height: 100vh;
    background-color: white;
    width: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
};
img {
    max-width: 25vh;
    max-height: 25vh;    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.grades{
    margin-top: 9vh;
}
.informationUser {
    float: right;
    margin-right: 6vh;
    background-color: white;
    position: relative;
    z-index: 6;
}
