@import '../../App.scss';
$secondColor: white;

@mixin position-transition {
    position: absolute;
    -webkit-transition: height 1s linear;
    -moz-transition: height 1s linear;
    -o-transition: height 1s linear;
    transition: height 1s linear;
}
.informationPageBottom {
    margin: none;
    z-index: 6;
    bottom: 0vh;
    background-color: $secondColor;
    width: 100%;
    @include position-transition;
};
.informationPageTop {
    z-index: 6;
    height: 100vh;
    width: 100%;
    background-color: $secondColor;
    @include position-transition;
    overflow: hidden;
}
.closeButtonInformationPageBottom {
    z-index: 7;
    top: 80vh;
    @include position-transition;
}
.closeButtonInformationPageTop {
    z-index: 7;
    top: 0vh;
    @include position-transition;
}
.informationUser {
    float: right;
    margin-right: 6vh;
    background-color: $secondColor;
    z-index: 6;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}
.informationUser-Bottom {
    @extend .informationUser;
    display: none;
}
.grades{
    margin-top: 9vh;
}
.grades-Bottom {
    @extend .grades;
    display: none;
}
.informationPicture {
    width: 25vh;
    height: 25vh;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}
.informationPicture-Bottom {
    @extend .grades;
    display:none;
}

.generalInfosContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px auto;
    height: 45%;
}

.poiName{
    font-size: 1.5rem;
    margin-left: 1.75rem;
    margin-top: 1.75rem;
}

.adress{
    grid-column: 1/2 ;
    grid-row: 1/2;
    height: 25px;
    margin: 0;
}

.distance{
    grid-column: 1/2 ;
    grid-row: 2/3;
    height: 25px;
    margin: 0;
    color: $mainColor;
}

.infos{
    font-size: 1.3rem;
    margin-left: 1.75rem;
    color: $mainColor;
}

.infos::before, .infos::after{
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid $mainColor;
    top: 0;
    width: 600px;
}
.infos::before{
    right: 75%;
    top: 69%;
    margin-right: 70px;
}

.infos::after{
    left: 75%;
    top: 69%;
    margin-left: 45px;
}
