@import '../../App.scss';

.search-box{
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 8vh;   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    .search-bar-back{
        grid-area: 1 / col1-start / row1-end / 1;
    }
    .search-bar-front{
        grid-area: 1 / col1-start / last-line / 1;
        display: grid;
        height: 80px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .search-form{
            position: relative;
            z-index: 3;
            margin-top: 9%;

            grid-area: 2 / col1-start / third-line / 2;
            .search-text{
                color: $mainColor;
                width: 67%;
                outline: none;
                background: none;
                border: none;
                font-size: 20px;
            }
        }
        .search-button {
            position: relative;
            z-index: 4;
            width: 211%;
            margin-top: 13%;
            margin-right: 11%;
            grid-column: 8/8;
            grid-row: 2/2;
            justify-self: center;

        }
    } 
}
